.button{
    display:none;
}
@media screen and (min-width: 641px){
 
    .button{
        display:block;
        background-color:var(--white);
        color:var(--purple);
        border:solid 1px var(--purple);
        border-radius: 0.4rem;
        width:9rem;
        height: 3rem;
        font-weight: 500;
        transition: background-color 1s ease-in-out;
        transition-property: color 1s ease-in-out;  
    }
    .button.-position{
    
        grid-column:8/9;
        align-self: center;
    }
    .button__text{
        font-size:1.1rem
    }
    .button__text.-upperCase{
        text-transform:uppercase
    }
    .button:hover{
        cursor: pointer;
        background-color:var(--purple-darker);
        color:var(--white);
    }
}