/* CSS Google Font */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700');
/* CSS Google Font end  */

body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;  
} 
.header{
    margin-bottom:2rem; 
    font-size: 1rem;
    font-weight: 500;
    color:white;
 }
 .center{
     text-align: center;
 }
 
