.logo{
    display: flex;
    justify-content: center;
    padding-top:1.4rem;
    color:white;
    width: 9rem;
    height:4rem;
    background-color: #C20000; 
    font-size:1.5rem; 
    font-weight:300;   
}
.logo.-position{
    margin:0 auto;
}
.imageBox{
    width:7.0rem;
    height:2.6rem;
    margin-right:1.5rem;
    margin-bottom:0rem;
}
.menuImage{
    font-size: 2rem;
}


@media only screen and (min-width: 641px){

    .imageBox{
        width:8.6rem;
        height:2.7rem;
        margin-right:1.5rem;
        margin-bottom:1rem;
    }
}
@media only screen and (min-width: 769px){
    
}
@media only screen and (min-width: 1025px){
    .imageBox{
        padding-right:1.5rem;
    } 
}